@media (max-width: 1440px) {
    .sf-home__slideshow .m-slide__title {
        font-size: 55px;
    }
    .collection__layout-2 .m-section__header {
        margin-bottom: 80px;
        padding-inline: 40px;
    }
    .m-collection-list [data-enable-slider="true"] .swiper-slide,
    .collection_layout-2-grid .m\:column {
        padding-block: 70px !important;
    }
    .collection__layout-2 .m-section__heading {
        width: 45%;
    }
    .h-section__fragrance-spotlight {
        --column-gap: 50px !important;
    }
    .m-main-product--info {
        padding: 0 0 0 24px;
    }
    .m-main-product--media .m-product-media--layout-6 .m-product-media--slider__thumbnails {
        margin-right: 15px;
    }
    .m-main-product--media .m-product-media--layout-6 .nav-swiper-container {
        max-height: 400px;
    }
    .p-section__pro-specifications .product-details {
        gap: 25px 40px;
    }
    .p-section__perfume-application .m-icon-box {
        padding: 30px;
    }
    .container__px0-1440 .container,
    .facest-filters-section .container {
        padding-inline: 0;
    }
    .m-contact-form {
        margin-block: 50px;
    }
    .home-insta {
        margin-bottom: 50px;
    }
}
@media (max-width: 1279px) {
    .sf-home__slideshow .m-slide__title {
        font-size: 50px;
    }
    .sf-home__slideshow .m-slide__wrapper {
        padding: 40px;
    }
    .sf-home__slideshow .m-slide__description {
        width: 50%;
    }

    .h-section__trending-now .m-section__heading {
        font-size: 36px;
    }
    .m-product-card .m-product-card__addons .m-button--icon:hover {
        background-color: #141511;
    }
    .collection__layout-2 .m-section__header {
        margin-bottom: 70px;
        padding-inline: 30px;
    }
    .m-collection-list [data-enable-slider="true"] .swiper-slide,
    .collection_layout-2-grid .m\:column {
        padding-block: 60px !important;
    }
    .h-section__fragrance-spotlight {
        --column-gap: 40px !important;
    }
    .m-testimonials .m-section__header {
        padding-block: 60px;
    }
    .m-main-product--media {
        max-width: calc(100% - 400px);
    }
    .m-main-product--info {
        max-width: 400px;
    }
    .m-main-product--media .m-product-media--layout-6 .nav-swiper-container {
        width: 100px;
        max-height: 250px;
    }
    .m-main-product--media .m-product-media--layout-6 .m-product-media--slider__images {
        width: calc(100% - 156px);
    }
    .p-section__pro-specifications .product-details {
        gap: 20px 30px;
    }
    .p-section__pro-specifications .pro_detail-box {
        grid-template-columns: 1.5fr 2fr;
    }
    .p-section__perfume-application .m-icon-box {
        padding: 20px;
    }
    .p-section__certified-authentic .m-custom-content__block-image .m-image {
        max-width: 350px;
    }
    .p-section__certified-authentic .m-custom-content__block-image {
        padding-right: 40px;
    }
    .p-section__certified-authentic .m-custom-content__block-text {
        padding-left: 40px;
    }
    .m-product-recommendations .m-section__header {
        padding-block: 45px;
    }
    .collection_layout-2-grid .md\:m\:grid-2-cols {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .m-lookbook .m-lookbook-hero__wrapper {
        --slider-width: 300px;
    }
    .facest-filters-section .m-collection-products .m-product-item {
        width: 33.33% !important;
        max-width: 33.33% !important;
    }
    .m-contact-form {
        margin-block: 40px;
    }
    .home-insta {
        margin-bottom: 40px;
    }
}
@media (max-width: 1023px) {
    /* .m-header .m-header__mobile .m-header__mobile-right {
        display: none;
    } */
    .m-header .m-header__mobile {
        /* flex-direction: row-reverse;
        justify-content: space-between; */
        padding-block: 15px;
    }
    /* .m-header .m-header__mobile .m-logo--mobile {
        justify-content: start;
        padding: 0;
    } */
    /* .m-header .m-header__mobile .m-menu-button {
        justify-content: end;
    } */
    .m-header .m-header__mobile .m-menu-button .m-hamburger-box {
        padding: 0;
        border: 1px solid #d6d6d5;
        width: 40px;
        height: 40px;
    }
    .m-header .m-header__mobile .m-menu-button .m-hamburger-box__inner {
        left: 50%;
        width: 50%;
        transform: translateX(-50%) rotate(0);
    }
    .m-header .m-header__mobile .m-menu-button .m-hamburger-box.active .m-hamburger-box__inner {
        transform: translateX(-50%) rotate(45deg);
    }
    .sf-home__slideshow .m-slide__title {
        font-size: 45px;
    }
    .sf-home__slideshow .m-slide__wrapper {
        padding: 30px;
    }
    .h-section__trending-now .m-section__heading {
        font-size: 34px;
    }
    .m-product-card .m-product-card__wishlist {
        top: 20px;
        bottom: unset;
    }
    .m-collection-list [data-enable-slider="true"] .swiper-slide,
    .collection_layout-2-grid .m\:column {
        padding-block: 50px !important;
    }
    .collection__layout-2 .m-collection-list__content {
        padding-inline: 15px;
    }
    .collection__layout-2 .m-section__header {
        margin-bottom: 60px;
        padding-inline: 20px;
    }
    .collection__layout-2 .m-section__heading {
        width: 60%;
    }
    .m-testimonials .m-section__header .m-section__heading {
        width: 50%;
    }
    .m-testimonials .m-section__header {
        padding-block: 50px;
    }
    .m-footer .m-footer--accordion {
        padding-block: 40px;
        row-gap: 40px;
    }
    .m-footer .m-footer--middle {
        padding: 0;
    }
    .h-section__dope-decoration .m-custom-content__boxed {
        padding: 40px 0;
    }
    .m-main-product--media .m-product-media--layout-6 .m-product-media--slider__images {
        width: 100%;
    }
    .m-main-product--media .m-product-media--layout-6 .nav-swiper-container {
        width: 100%;
    }
    /* .m-main-product--media .m-product-media--layout-6 .m-product-media--slider__thumbnails .swiper-slide {
        width: 100px !important;
    } */
    .m-main-product--media .m-product-media--layout-6 .nav-swiper-container::-webkit-scrollbar {
        height: 4px;
        display: none;
    }
    .m-main-product--media .m-product-media--layout-6 .nav-swiper-container {
        padding: 0;
        overflow-y: unset;
        direction: unset;
    }
    .m-main-product--media .m-product-media--layout-6 .m-product-media--slider__thumbnails {
        margin-right: 0;
    }
    .m-header .m-header__mobile {
        border-bottom: 1px solid #d6d6d5;
    }
    .p-section__pro-specifications .product-details {
        gap: 20px;
    }
    .p-section__perfume-application .m-icon-box__icon {
        width: 180px !important;
    }
    /* .m-main-product--media .m-product-media--layout-6 .nav-swiper-container::-webkit-scrollbar-track {
        width: 50px;
        height: 50px;
    }
    .m-main-product--media .m-product-media--layout-6 .nav-swiper-container::-webkit-scrollbar-thumb {
        width: 50px;
        height: 50px;
    } */
    .p-section__certified-authentic .m-custom-content__block {
        width: 50%;
    }
    .m-product-recommendations .md\:m\:grid-3-cols {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .m-product-recommendations .m-section__header {
        padding-block: 42px;
    }
    .m-lookbook .m-lookbook-hero__wrapper {
        display: block;
        left: 20px;
        bottom: 20px;
        --slider-width: 260px;
    }
    .facest-filters-section .m-collection-products .m-product-item {
        width: 50% !important;
        max-width: 50% !important;
    }
  .c-section__form-header .m-section__description {
      width: 80%;
}
}
/* ==============================--------------------= (max-width: 1023px) and (min-width: 992px) = (USE IT ONLY WHEN ABSOLUTELY NECESSARY) =--------------------============================== */
@media (max-width: 1023px) and (min-width: 992px) {
    .h-section__fragrance-spotlight .m-custom-content__wrapper {
        flex-wrap: nowrap;
    }
}
/* ==============================--------------------= (max-width: 991px) and (min-width: 768px) = (USE IT ONLY WHEN ABSOLUTELY NECESSARY) =--------------------============================== */
@media (max-width: 991px) and (min-width: 768px) {
    .sf-home__slideshow .m-slide__description {
        width: 60%;
    }
    .collection_layout-2-grid .md\:m\:grid-2-cols {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
/* ==============================--------------------= (max-width: 991px) = (USE IT ONLY WHEN ABSOLUTELY NECESSARY) =--------------------============================== */
@media (max-width: 991px) {
    .h-section__fragrance-spotlight .m-custom-content__wrapper {
        flex-direction: column-reverse;
    }
    .p-section__pro-specifications .product-details {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px 30px;
    }
    .p-section__pro-specifications .pro_detail-box {
        grid-template-columns: 1fr 2fr;
    }
  .m-main-product--info .offer-content .offer-text h2 {
    font-size: 16px;
}
  .m-main-product--info .offer-content .offer-text p {
    font-size: 14px;
}
}
@media (max-width: 767px) {
    .m-announcement-bar .m-announcement-bar__content {
        font-size: 11px;
    }
    .m-announcement-bar__close,
    .p-section__certified-authentic .m-custom-content__block-text {
        display: none;
    }
    .sf-home__slideshow .m-slide__title {
        font-size: 40px;
    }
    .sf-home__slideshow .m-slide__description {
        font-size: 16px;
    }
    .sf-home__slideshow .m-slide__wrapper {
         padding: 25px 15px 20px;
        /* align-items: center !important; */
    }
    .sf-home__slideshow .m-slide__content {
        text-align: center;
    }
    .sf-home__slideshow .m-slide__description {
        width: 100%;
    }
    .sf-home__slideshow .m-slide__button {
        justify-content: center;
    }
    .h-section__trending-now .m-button {
        padding: 8px 12px;
        font-size: 13px;
    }
    .h-section__trending-now .m-mixed-layout__inner {
        display: flex;
        flex-wrap: wrap;
    }
    .h-section__trending-now .m-mixed-layout__inner .m\:column {
        flex: 1 1 50%;
    }
    .h-section__trending-now .m-section__heading {
        font-size: 30px;
    }
    /* .m-featured-collection .m-mixed-layout__inner {
        grid-template-columns: 1fr;
    } */
    .m-featured-collection .card-just__arrived {
        border: unset;
        border-bottom: 1px solid #d6d6d5;
        padding: 48px 20px;
    }
    /* .m-featured-collection .swiper-slide,
    .facest-filters-section .m-collection-products .m-product-item {
        border-right: unset;
    } */
    .m-featured-collection .card-just__arrived img {
        width: 36px;
    }
    .m-featured-collection .card-just__arrived .m-section__lfheading {
        font-size: 28px;
    }
    .m-featured-collection .card-just__arrived .m-section__lfheading br {
        display: none;
    }
    .m-product-card .m-product-card__info {
        padding: 12px 16px !important;
    }
    .m-collection-card.m-collection-card--standard .m-collection-card__title,
    .m-collection-card.m-collection-card--standard .m-collection-card__product-count {
        padding: 0;
        font-size: 13px;
    }
    .m-collection-card.m-collection-card--standard .m-collection-card__info {
        gap: 5px;
        flex-direction: column;
        padding: 10px;
    }
    .m-collection-card.m-collection-card--standard .m-collection-card__title:after {
        /* right: -6px; */
        display: none;
    }
    .collection__layout-2 .m-section__header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        text-align: center;
        margin-bottom: 56px;
        padding-inline: 10px;
    }
    .collection__layout-2 .m-section__heading {
        width: 100%;
    }
    .h-section__fragrance-spotlight .m-richtext {
        padding: 0;
    }
    .h-section__fragrance-spotlight .m-richtext__button {
        margin-top: 20px;
    }
    .m-testimonials .t__top-box,
    .m-testimonials .t__bottom-box {
        padding: 12px;
    }
    .m-testimonials .t__top-box .m-testimonial__title,
    .m-testimonials .t__bottom-box .m-testimonial__description {
        font-size: 16px;
    }
    .m-testimonials .t__bottom-box .t-card__quote img {
        width: 60px;
    }
    .m-testimonials .t__bottom-box .m-testimonial__image .m-image {
        width: 72px;
        height: 72px;
    }
    .m-testimonials .m-testimonials-el {
        padding-block: 16px;
    }
    .m-testimonials .m-section__header .m-section__heading {
        width: 100%;
    }
    .m-testimonials .m-section__header {
        padding-block: 40px;
    }
    .m-testimonials .t__bottom-box .m-testimonial__description {
        margin-bottom: 16px;
    }
    .h-section__dope-decoration .m-custom-content__boxed {
        padding: 32px 0;
    }
    .h-section__dope-decoration .dope-bg__img {
        height: 130px;
    }
    .m-footer .m-footer--accordion {
        padding-block: 32px;
        row-gap: 32px;
    }
    .m-footer .m-footer--block {
        width: 50%;
        margin: 0 !important;
    }
    .m-footer .m-footer--block .m-footer--block-title .m-accordion--item-icon {
        display: none;
    }
    .m-footer .m-footer--block .m-footer--block-title {
        margin-bottom: 0;
        font-size: 15px;
    }
    .m-footer .m-footer--block .m-link-lists--item:not(:last-child) {
        margin-bottom: 4px;
    }
    .m-footer .m-footer--bottom {
        padding: 0 0 16px;
    }
    .m-footer .m-footer--bottom .m-footer__copyright p {
        font-size: 11px;
    }
    .m-main-product--info .main-product__block + .main-product__block {
        margin-top: 12px;
    }
    .m-main-product--media,
    .m-main-product--info {
        max-width: 100%;
    }
    .m-main-product--info {
        padding: 0;
    }
    .m-main-product--media .m-product-media--layout-6 .m-product-media--slider__thumbnails {
        margin: 0;
        padding: 10px 16px 16px;
    }
    .m-main-product .container {
        padding: 0;
    }
    .m-main-product--info .saving_amount-box,
    .m-main-product--info .main-product__block-price + .main-product__block-custom_liquid {
        padding: 12px 16px;
    }
    .m-main-product--info .main-product__block-title {
        margin: 0 !important;
        padding: 16px 16px 0;
    }
    .m-main-product--info .main-product__block-title .m-product-title {
        font-size: 20px;
    }
    .m-main-product--info .main-product__block-price {
        padding: 10px 16px 16px;
    }
    .m-main-product--info .main-product__block-price .m-price__regular .m-price-item--regular,
    .m-main-product--info .main-product__block-price .m-price__sale .m-price-item--last {
        font-size: 22px;
    }
    .m-main-product--info .main-product__block-price .m-price__sale .m-price-item--regular {
        font-size: 18px;
    }
    .m-main-product--info .brand-gender__info .bg-info__box .bg_info-title {
        margin-bottom: 5px;
        font-size: 15px;
    }
    .m-main-product--info .brand-gender__info .bg-info__box .bg_info-name {
        font-size: 18px;
    }
    .pdp-icons>div:first-child {
        gap: 10px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .pdp-icons>div:first-child>img {
        width: 70px;
    }
    .pdp-icons>div:last-child {
        gap: 15px;
    }
    .pdp-icons>div:last-child p {
        font-size: 14px;
    }
    .m-main-product--info .main-product__block-buy_buttons,
    .pdp-icons,.m-product-option.m-product-option--color {
        padding: 16px;
    }
    .m-product-form--input {
        width: 120px;
        margin: 0 12px 0 0;
    }
    .m-quantity {
        max-width: 120px;
    }
    .m-main-product--info .shopping__benefits-box .inner_benefits p {
        font-size: 14px;
    }
    .m-main-product--info .main-product__block-title .m-product-wishlist {
        display: block;
    }
    .m-main-product {
        margin-top: 0 !important;
    }
    .p-section__pro-specifications .pro_detail-box .pro_detail-title,
    .p-section__pro-specifications .pro_detail-box .pro_detail-content {
        font-size: 14px;
    }
    .p-section__pro-specifications .product-details {
        gap: 10px;
    }
    .p-section__pro-specifications .product-details {
        padding: 16px;
    }
    .p-section__pro-specifications .pro_detail-box {
        /* grid-template-columns: 1fr; */
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    .p-section__perfume-application .m-icon-box {
        padding: 16px;
    }
    .p-section__perfume-application .m\:grid-2-cols {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 16px;
    }
    .p-section__perfume-application .m-icon-box__content {
        margin-top: 32px !important;
    }
    .p-section__perfume-application .m-icon-box__heading {
        margin-bottom: 10px;
    }
    .p-section__perfume-application .m-icon-box__description {
        font-size: 14px;
    }
    .p-section__perfume-application .m-icon-box__icon {
        width: 160px !important;
    }
    .m-main-product--media .m-product-media--mobile .m-product-media--zoom-icon {
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        border: 1px solid #d6d6d5;
        padding: 8px 24px;
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #fff;
    }
    .m-main-product--media .m-product-media--mobile .m-product-media--zoom-icon .m-product-media__zoom-in {
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        border-radius: unset;
    }
    .m-main-product--media .m-product-media--mobile .m-product-media--zoom-icon .zoom-f_view-label {
        font-size: var(--font-s3);
        font-weight: var(--font-bold);
        text-transform: var(--text-capital);
    }
    .p-section__certified-authentic .m-custom-content__block {
        width: 100%;
    }
    .p-section__certified-authentic .m-custom-content__block-image {
        padding-right: 0;
        border-right: unset;
        text-align: center;
    }
    .p-section__certified-authentic .m-custom-content__block-text {
        padding-left: 0;
    }
    .p-section__certified-authentic .m-custom-content__block-text .m-richtext {
        text-align: center;
        margin-inline: auto;
    }
    .p-section__certified-authentic .m-custom-content__wrapper {
        row-gap: 32px;
    }
    .p-section__certified-authentic .m-custom-content__block-text .m-richtext__description {
        font-size: 14px;
    }
    .p-section__certified-authentic .m-section-py {
        padding-block: 20px;
    }
    .p-section__certified-authentic .m-custom-content__block-image .m-image {
        max-width: 340px;
    }
    .m-product-recommendations .m-section__header {
        padding-block: 40px;
    }
    .collection_layout-2-grid .md\:m\:grid-2-cols {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .collection_layout-2-grid .m\:column {
        padding-inline: 65px;
    }
    .m-lookbook .m-lookbook-hero__wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .m-lookbook .m-lookbook-hero .m-product-card {
        display: block;
    }
    .m-lookbook .m-lookbook-hero__products {
        padding: 16px;
    }
    .m-lookbook .m-product-card .m-image {
        --aspect-ratio: 1/1 !important;
    }
    .m-lookbook .m-lookbook-hero .m-product-card__content {
        padding-left: 0;
        text-align: center;
    }
    .m-lookbook .m-lookbook-hero .m-product-card .m-product-card__tags,
    .m-lookbook .m-lookbook-hero .m-product-card .m-product-tag {
        display: flex !important;
    }
    .m-lookbook .m-lookbook-hero .m-product-card__action,
    .m-lookbook .m-lookbook-hero .m-product-card__addons,
    .m-lookbook .m-lookbook-hero .m-product-card__action-wrapper {
        display: block;
    }
    .facest-filters-section .m-collection-products .m-product-item {
        width: 100% !important;
        max-width: 100% !important;
    }
    .facest-filters-section .m-collection-toolbar--wrapper {
        background-color: transparent;
    }
    .facest-filters-section .m-collection-toolbar .m-toolbar--right {
        display: none;
    }
    .facest-filters-section .m-toolbar--left {
        width: 100%;
        justify-content: space-between;
    }
    .facest-filters-section .m-toolbar--left .m-sidebar--open span,
    .facest-filters-section .m-toolbar--left .m-sortby--open span,
    .facest-filters-section .m-toolbar--right .m-select-custom--trigger-text {
        font-size: 18px;
    }
  .m-collection-list [data-enable-slider=true] .swiper-slide, .collection_layout-2-grid .m\:column {
    padding-block: 30px!important;
}
  .m-header .m-header__mobile .m-header__mobile-right m-search-popup {
      padding: 0;
  }
  .m-main-product--info .offer-content, .m-main-product--info .offer-container .offer_buy-button {
    padding: 16px;
}
  .m-main-product--media .m-product-media--mobile .m-wishlist-button {
      display: none;
  }
  .m-main-product--wrapper {
    gap: 0;
  }
  .c-section__form-header .m-section__description, .c-section__form-header .m-richtext__description {
    font-size: 14px;
  }
  .c-section__form-header .m-section__description {
    width: 100%;
}
  .m-contact-form .m-contact-form__form-fields {
      row-gap: 10px;
  }
  .m-contact-form .m-contact-form__message {
    margin-block: 10px;
}
  .h-section__customer-reviews .m-icon-box__heading {
    font-size: 14px;
    margin-bottom: 5px;
}
  .h-section__customer-reviews .m-icon-box__description p {
    font-size: 12px;
}
  .h-section__customer-reviews .m-icon-box__image img {
    margin-bottom: 5px;
}
  .h-section__customer-reviews .m-icon-box--vertical .m-icon-box__content {
    margin-top: 10px;
}
  .sticky-video {
      right: auto;
      bottom: 130px;
      left: 15px;
  }
  .sticky-video {
      right: auto;
      bottom: 65px;
      left: 15px;
  }
  .home-pg-reel .m-mixed-layout--mobile-scroll .m-mixed-layout__inner {
      --slider-grid: auto / auto-flow var(--mobile-column-width, 40vw) !important;
  }
  .m-featured-collection .card-just__arrived {
      display: none;
  }
}
@media(max-width:580px){
  .m-product-recommendations .m-section__header {
      padding-block: 25px;
  }
  .m-product-card .m-product-card__title {
      font-size: 14px;
  }
  .m-product-card .m-price__regular .m-price-item--regular, .m-product-card .m-price__sale .m-price-item--last {
      font-size: 16px;
  }
  .m-product-card .m-price__sale .m-price-item--regular {
      font-size: 13px;
  }
  .m-main-product--info .main-product__block-price .m-price__regular .m-price-item--regular, .m-main-product--info .main-product__block-price .m-price__sale .m-price-item--last {
      font-size: 18px;
  }
  .m-main-product--info .main-product__block-price .m-price__sale .m-price-item--regular {
      font-size: 15px;
  }
  .main-product__block.main-product__block-price {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }
  .main-product__block .m-product-tax {
      font-size: 13px;
      opacity: 0.7;
  }
  .m-main-product--info .brand-gender__info .bg-info__box .bg_info-name {
      font-size: 16px;
  }
  .m-main-product--info .brand-gender__info .bg-info__box .bg_info-title {
      font-size: 14px;
  }
  .m-main-product--info .saving_amount-box, .m-main-product--info .main-product__block-price+.main-product__block-custom_liquid {
      padding: 10px 16px;
  }
  .m-main-product--info .saving_amount-box .s_amount-title, .m-main-product--info .saving_amount-box .s_amount-percentage {
      font-size: 13px;
  }
  .m-sticky-addtocart--rightblock {
      padding: 0px 0 !important;
  }
  .m-main-product--media .m-product-media--mobile .m-product-media--zoom-icon {
      bottom: unset;
      left: 90px;
      transform: translate(-50%);
      right: unset;
      border: 1px solid #d6d6d5;
      padding: 8px 24px;
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: #fff;
      top: 15px;
  }
  .m-main-product--media .m-product-media--layout-6 .m-product-media--slider__thumbnails .swiper-slide {
      height: 70px!important;
      width: 70px !important;
  }
  .m-main-product--media .m-product-media--slider .nav-swiper-container .m-product-media {
      padding: 0;
      height: 100%;
  }
  .h-section__customer-reviews .m-icon-box__inner {
      padding: 5px;
  }
  .upsell-products-wrapper h3.m-product-card__title {
      height: 20px;
      overflow: hidden;
  }
  inbox-online-store-chat#ShopifyChat {
      bottom: 60px!important;
      z-index: 2!important;
  }
  .upsell-products-wrapper .m-product-card .m-product-card__tag-name {
      display: none;
  }
  .upsell-products-wrapper .m-product-card .m-product-card__media {
      width: 23%;
  }
  .upsell-products-wrapper .m-add-to-cart {
      border-radius: 5px;
      margin-top: 5px;
  }
}